*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}   
body {
  font-family: 'Inter', sans-serif;
  background-color: #fdfdfd;
}
.container{
    width: 65%;
    margin: auto;
    padding: 50px;
}
.text{
    margin-top: 10px;
}
.text, .card-text, .footer-text, hr{
    color: gray;
}

.card-icon{
    color: blue;
}
.title, .card-text, card-icon, .footer-text{
    margin: 10px 0;
}
.btn{
    margin: auto;
    width: 100px;
    height: 35px;
    background-color: black;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.cards{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.3);
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 90%;
    margin-bottom: 20px;
  }
  .container {
    width: 90%;
  }
}